flows.json
[{"id":"ae9dbd54.3f25c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6429295e.bbd048","type":"tab","label":"SMA_modbus","disabled":false,"info":""},{"id":"920c82a4.ac30a","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"5349a82e.aa4d98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eb225683.a283d8","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"3","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"453d6eb0.1f55e","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.0.101","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"115200","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"c62ad4d0.a54ce8","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"172.17.171.10","tcpPort":"55503","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"2","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"a7006248.8832b","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"172.17.171.10","tcpPort":"55502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":60,"commandDelay":1,"clientTimeout":10000,"reconnectTimeout":20000},{"id":"f8b4a133.43998","type":"modbus-client","z":"","name":"Uno","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"172.17.171.10","tcpPort":"55503","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"2","commandDelay":"1","clientTimeout":"10000","reconnectTimeout":"20000"},{"id":"a77621f1.de24b","type":"modbus-client","z":"","name":"OLK_SM","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"172.17.160.72","tcpPort":"1502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"bf2343c2.04b65","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"172.17.171.10","tcpPort":"55503","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"2","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"4b7a6aa7.128eb4","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"172.17.171.10","tcpPort":"55502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":60,"commandDelay":1,"clientTimeout":10000,"reconnectTimeout":20000},{"id":"e3dee02f.2b88","type":"modbus-client","z":"","name":"Uno","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"172.17.171.10","tcpPort":"55503","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"2","commandDelay":"1","clientTimeout":"10000","reconnectTimeout":"20000"},{"id":"50450df2.736114","type":"modbus-client","z":"","name":"OLK_SM","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"172.17.160.72","tcpPort":"1502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"bd83b41c.727c78","type":"mqtt-broker","z":"","name":"","broker":"wss://iot.eclipse.org:443/ws","port":"8883","tls":"","clientid":"hamkkonttiserver","usetls":false,"compatmode":true,"keepalive":"3700","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"86fa22d6.f2e1c","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":true},{"id":"ad85372e.4bf3b8","type":"mqtt-broker","z":"","name":"","broker":"iot.research.hamk.fi","port":"8883","tls":"86fa22d6.f2e1c","clientid":"nodered_hamkkontti","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"44882ce0.a9d134","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://192.168.0.20:4840","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL SERVER","showErrors":true,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":true,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":""},{"id":"1017fc11.e22204","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://hamkkontti.ddns.net:4840","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"KonttiServerRemote","showErrors":true,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":true,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"469ed34e.d433cc","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://192.168.0.20:4840","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"Beckhoff PLC","showErrors":true,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":true,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"18119ab.ca9f865","type":"function","z":"6429295e.bbd048","name":"AC side measured values ","func":"msg.payload = { \n    value: msg.payload,\n    'fc': 3, \n    'unitid': 3,\n    'address': 30513, \n    'quantity': 16} ;\nmsg.parts =0 ;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":340,"wires":[["393032a.053bace"]]},{"id":"96963678.06c3e8","type":"inject","z":"6429295e.bbd048","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"","x":150,"y":240,"wires":[["41c3c6ba.995488","18119ab.ca9f865","59ac99bb.284f48","4482ddaa.419b74","28b2ca5c.bef526"]]},{"id":"393032a.053bace","type":"modbus-flex-getter","z":"6429295e.bbd048","name":"","showStatusActivities":true,"showErrors":true,"server":"453d6eb0.1f55e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":230,"y":600,"wires":[["d6874d79.7d2cd"],[]]},{"id":"f51c62c0.3d1dd","type":"function","z":"6429295e.bbd048","name":"","func":"//var newArr = new ArrayBuffer(msg.payload.data.length * 2);\nvar arr = new Uint16Array(msg.payload);\n//var arr32 = new DataView(newArr);\n\nvar newpayload = {};\nfor (var i = 0; i < arr.length; i+=2) {\n    var temp = new Uint32Array(1);\n    temp[0] = (arr[i] << 16) + arr[i+1];\n    temp= temp.values();\n    newpayload[i/2]=temp.next().value;\n}\nmsg.payload=newpayload;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":920,"wires":[["ce398871.9eec38"]]},{"id":"ce398871.9eec38","type":"debug","z":"6429295e.bbd048","name":"","active":false,"console":"false","complete":"false","x":1150,"y":920,"wires":[]},{"id":"ce484deb.0d2da","type":"function","z":"6429295e.bbd048","name":"test","func":"msg.payload = { \n    value: msg.payload,\n    'fc': 3, \n    'unitid': 3,\n    'address': 30821, \n    'quantity': 2} ;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":960,"wires":[["c9ed030d.9e966"]]},{"id":"2584005.50b2e","type":"inject","z":"6429295e.bbd048","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":960,"wires":[["ce484deb.0d2da"]]},{"id":"4d012502.d59c9c","type":"debug","z":"6429295e.bbd048","name":"","active":false,"console":"false","complete":"false","x":1030,"y":980,"wires":[]},{"id":"c9ed030d.9e966","type":"modbus-flex-getter","z":"6429295e.bbd048","name":"","showStatusActivities":true,"showErrors":true,"server":"453d6eb0.1f55e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":790,"y":960,"wires":[["f51c62c0.3d1dd","4d012502.d59c9c"],[]]},{"id":"59ac99bb.284f48","type":"function","z":"6429295e.bbd048","name":"DC side insulation resistance","func":"msg.payload = { \n    value: msg.payload,\n    'fc': 3, \n    'unitid': 3,\n    'address': 30225, \n    'quantity': 2} ;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":380,"wires":[["393032a.053bace"]]},{"id":"4482ddaa.419b74","type":"function","z":"6429295e.bbd048","name":"DC & AC measurement","func":"msg.payload = { \n    value: msg.payload,\n    'fc': 3, \n    'unitid': 3,\n    'address': 30769, \n    'quantity': 52} ;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":420,"wires":[["393032a.053bace"]]},{"id":"41c3c6ba.995488","type":"function","z":"6429295e.bbd048","name":"AC line currents","func":"msg.payload = { \n    value: msg.payload,\n    'fc': 3, \n    'unitid': 3,\n    'address': 30977, \n    'quantity': 6} ;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":460,"wires":[["393032a.053bace"]]},{"id":"28b2ca5c.bef526","type":"function","z":"6429295e.bbd048","name":"Internal temperature","func":"msg.payload = { \n    value: msg.payload,\n    'fc': 3, \n    'unitid': 3,\n    'address': 30953, \n    'quantity': 2} ;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":500,"wires":[["393032a.053bace"]]},{"id":"1ec22af0.476345","type":"inject","z":"6429295e.bbd048","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":true,"onceDelay":"","x":190,"y":120,"wires":[["96ef1d41.a8de7"]]},{"id":"96ef1d41.a8de7","type":"file in","z":"6429295e.bbd048","name":"SMA_Modbus","filename":"/data/smaSchema","format":"utf8","chunk":false,"sendError":false,"x":380,"y":120,"wires":[["323c317.1a3d4ce","1189e528.ea8bbb"]]},{"id":"323c317.1a3d4ce","type":"json","z":"6429295e.bbd048","name":"","pretty":false,"x":570,"y":120,"wires":[["e8e716fa.6e1d78"]]},{"id":"e8e716fa.6e1d78","type":"function","z":"6429295e.bbd048","name":"setup","func":"flow.set(\"inverter_map\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":120,"wires":[["7a5fbd23.bbda64"]]},{"id":"7a5fbd23.bbda64","type":"debug","z":"6429295e.bbd048","name":"","active":false,"console":"false","complete":"false","x":870,"y":120,"wires":[]},{"id":"d3caac83.10d18","type":"inject","z":"6429295e.bbd048","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":60,"wires":[["b9155421.470d98"]]},{"id":"b9155421.470d98","type":"function","z":"6429295e.bbd048","name":"SMA_modbus","func":"msg.payload = [{\"id\":\"AphA\",\"desc\":\"Phase A Current\",\"unit\":\"A\",\"value\":0,\"type\":\"S32\",\"format\":\"FIX3\",\"index\":30977},{\"id\":\"AphB\",\"desc\":\"Phase B Current\",\"unit\":\"A\",\"value\":0,\"type\":\"S32\",\"format\":\"FIX3\",\"index\":30979},{\"id\":\"AphC\",\"desc\":\"Phase C Current\",\"unit\":\"A\",\"value\":0,\"type\":\"S32\",\"format\":\"FIX3\",\"index\":30981},{\"id\":\"PPVphAB\",\"desc\":\"Phase Voltage AB\",\"unit\":\"V\",\"value\":0,\"type\":\"U32\",\"format\":\"FIX2\",\"index\":30789},{\"id\":\"PPVphBC\",\"desc\":\"Phase Voltage BC\",\"unit\":\"V\",\"value\":0,\"type\":\"U32\",\"format\":\"FIX2\",\"index\":30791},{\"id\":\"PPVphCA\",\"desc\":\"Phase Voltage CA\",\"unit\":\"V\",\"value\":0,\"type\":\"U32\",\"format\":\"FIX2\",\"index\":30793},{\"id\":\"PhVphA\",\"desc\":\"Phase Voltage AN\",\"unit\":\"V\",\"value\":0,\"type\":\"U32\",\"format\":\"FIX2\",\"index\":30783},{\"id\":\"PhVphB\",\"desc\":\"Phase Voltage BN\",\"unit\":\"V\",\"value\":0,\"type\":\"U32\",\"format\":\"FIX2\",\"index\":30785},{\"id\":\"PhVphC\",\"desc\":\"Phase Voltage CN\",\"unit\":\"V\",\"value\":0,\"type\":\"U32\",\"format\":\"FIX2\",\"index\":30787},{\"id\":\"W\",\"desc\":\"AC Power\",\"unit\":\"W\",\"value\":0,\"type\":\"S32\",\"format\":\"FIX0\",\"index\":30775},{\"id\":\"Hz\",\"desc\":\"Line Frequency\",\"unit\":\"Hz\",\"value\":0,\"type\":\"U32\",\"format\":\"FIX2\",\"index\":30803},{\"id\":\"VA\",\"desc\":\"AC Apparent Power\",\"unit\":\"VA\",\"value\":0,\"type\":\"S32\",\"format\":\"FIX0\",\"index\":30813},{\"id\":\"VAr\",\"desc\":\"AC Reactive Power\",\"unit\":\"var\",\"value\":0,\"type\":\"S32\",\"format\":\"FIX0\",\"index\":30805},{\"id\":\"DWH\",\"desc\":\"Daily yield AC Energy\",\"unit\":\"Wh\",\"value\":0,\"type\":\"U64\",\"format\":\"FIX0\",\"index\":30517},{\"id\":\"TWH\",\"desc\":\"Total yield AC Energy\",\"unit\":\"Wh\",\"value\":0,\"type\":\"U64\",\"format\":\"FIX0\",\"index\":30513},{\"id\":\"OptTime\",\"desc\":\"Operating time\",\"unit\":\"Wh\",\"value\":0,\"type\":\"U64\",\"format\":\"Duration\",\"index\":30521},{\"id\":\"FeedTime\",\"desc\":\"Feed-in time\",\"unit\":\"Wh\",\"value\":0,\"type\":\"U64\",\"format\":\"Duration\",\"index\":30525},{\"id\":\"DCA\",\"desc\":\"DC Current\",\"unit\":\"A\",\"value\":0,\"type\":\"S32\",\"format\":\"FIX3\",\"index\":30769},{\"id\":\"DCV\",\"desc\":\"DC Voltage\",\"unit\":\"V\",\"value\":0,\"type\":\"S32\",\"format\":\"FIX2\",\"index\":30771},{\"id\":\"DCW\",\"desc\":\"DC Power\",\"unit\":\"W\",\"value\":0,\"type\":\"S32\",\"format\":\"FIX0\",\"index\":30773},{\"id\":\"TmpInt\",\"desc\":\"Interior Temperature\",\"unit\":\"C\",\"value\":0,\"type\":\"S32\",\"format\":\"TEMP\",\"index\":30953},{\"id\":\"TmpSnk\",\"desc\":\"Heat Sink Temperature\",\"unit\":\"C\",\"value\":0,\"type\":\"S32\",\"format\":\"TEMP\",\"index\":78},{\"id\":\"TmpTrns\",\"desc\":\"Transformer Temperature\",\"unit\":\"C\",\"value\":0,\"type\":\"S32\",\"format\":\"TEMP\",\"index\":78},{\"id\":\"St\",\"desc\":\"Enumerated value.  Operating state\",\"unit\":\"\",\"value\":0,\"type\":\"U32\",\"format\":\"ENUM\",\"index\":78},{\"id\":\"StVnd\",\"desc\":\"Vendor specific operating state code\",\"unit\":\"\",\"value\":0,\"type\":\"U32\",\"format\":\"ENUM\",\"index\":78},{\"id\":\"Evt2\",\"desc\":\"Reserved for future use\",\"unit\":\"\",\"value\":0,\"type\":\"U32\",\"format\":\"ENUM\",\"index\":78}];\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":60,"wires":[["22ffc091.1d1b2"]]},{"id":"22ffc091.1d1b2","type":"file","z":"6429295e.bbd048","name":"","filename":"/data/smaSchema","appendNewline":true,"createDir":true,"overwriteFile":"true","x":690,"y":60,"wires":[[]]},{"id":"a0886e77.24e6","type":"debug","z":"6429295e.bbd048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1070,"y":580,"wires":[]},{"id":"1189e528.ea8bbb","type":"debug","z":"6429295e.bbd048","name":"","active":false,"console":"false","complete":"false","x":570,"y":180,"wires":[]},{"id":"9f734710.35de18","type":"OPCUA-IIoT-Inject","z":"5349a82e.aa4d98","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"2","crontab":"","once":false,"startDelay":"","name":"","addressSpaceItems":[{"name":"","nodeId":"ns=4;s=GVL.stP1","datatypeName":""}],"x":150,"y":200,"wires":[["13508dbf.6780d2"]]},{"id":"13508dbf.6780d2","type":"OPCUA-IIoT-Browser","z":"5349a82e.aa4d98","connector":"44882ce0.a9d134","nodeId":"","name":"","justValue":false,"sendNodesToRead":true,"sendNodesToListener":false,"sendNodesToBrowser":false,"singleBrowseResult":false,"recursiveBrowse":false,"recursiveDepth":"","delayPerMessage":"","showStatusActivities":false,"showErrors":false,"x":320,"y":200,"wires":[["8566060a.c81908"]]},{"id":"9310743e.d4e0b8","type":"mqtt out","z":"5349a82e.aa4d98","name":"","topic":"","qos":"1","retain":"","broker":"ad85372e.4bf3b8","x":1010,"y":200,"wires":[]},{"id":"8566060a.c81908","type":"OPCUA-IIoT-Read","z":"5349a82e.aa4d98","attributeId":"13","maxAge":1,"depth":1,"connector":"44882ce0.a9d134","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"parseStrings":false,"historyDays":"","x":490,"y":200,"wires":[["a20f3569.508948"]]},{"id":"a20f3569.508948","type":"OPCUA-IIoT-Response","z":"5349a82e.aa4d98","name":"","showStatusActivities":false,"showErrors":false,"x":640,"y":200,"wires":[["3f004a31.93d546","87bb7685.5f5d58"]]},{"id":"3f004a31.93d546","type":"function","z":"5349a82e.aa4d98","name":"","func":"var newMsg = {};\nnewMsg.payload = {};\nnewMsg.topic = \"hamk/iot/valkeakoski/kontti/\" + \nmsg.nodesToRead[0].substring(msg.nodesToRead[0].lastIndexOf('.') - 2,msg.nodesToRead[0].lastIndexOf('.'));\nfor (let i = 0; i < msg.payload.length;i++) {\n    newMsg.payload[msg.nodesToRead[i].substring(msg.nodesToRead[i].lastIndexOf('.')+1)] = msg.payload[i].value;\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":790,"y":200,"wires":[["f2476bec.3bfc58","9310743e.d4e0b8"]]},{"id":"9d496a00.ef6e38","type":"OPCUA-IIoT-Inject","z":"5349a82e.aa4d98","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"2","crontab":"","once":false,"startDelay":"","name":"","addressSpaceItems":[{"name":"","nodeId":"ns=4;s=GVL.stP2","datatypeName":""}],"x":150,"y":240,"wires":[["13508dbf.6780d2"]]},{"id":"624aa180.a556c","type":"OPCUA-IIoT-Inject","z":"5349a82e.aa4d98","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"2","crontab":"","once":false,"startDelay":"","name":"","addressSpaceItems":[{"name":"","nodeId":"ns=4;s=GVL.stMain[1]","datatypeName":""}],"x":150,"y":360,"wires":[["6237ed3b.067a54"]]},{"id":"6237ed3b.067a54","type":"OPCUA-IIoT-Browser","z":"5349a82e.aa4d98","connector":"44882ce0.a9d134","nodeId":"","name":"","justValue":false,"sendNodesToRead":true,"sendNodesToListener":false,"sendNodesToBrowser":false,"singleBrowseResult":false,"recursiveBrowse":false,"recursiveDepth":"","delayPerMessage":"","showStatusActivities":false,"showErrors":false,"x":320,"y":360,"wires":[["dd615fba.5ac4e"]]},{"id":"dd615fba.5ac4e","type":"OPCUA-IIoT-Read","z":"5349a82e.aa4d98","attributeId":"13","maxAge":1,"depth":1,"connector":"44882ce0.a9d134","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"parseStrings":false,"historyDays":"","x":490,"y":360,"wires":[["47e80bf2.35e5c4"]]},{"id":"47e80bf2.35e5c4","type":"OPCUA-IIoT-Response","z":"5349a82e.aa4d98","name":"","showStatusActivities":false,"showErrors":false,"x":640,"y":360,"wires":[["89542a28.311248","87bb7685.5f5d58"]]},{"id":"89542a28.311248","type":"function","z":"5349a82e.aa4d98","name":"","func":"var newMsg = {};\nnewMsg.payload = {};\nnewMsg.topic = \"hamk/iot/valkeakoski/kontti/\" + \nmsg.nodesToRead[0].substring(msg.nodesToRead[0].indexOf('.') +1, msg.nodesToRead[0].lastIndexOf('.'));\nfor (let i = 0; i < msg.payload.length;i++) {\n    newMsg.payload[msg.nodesToRead[i].substring(msg.nodesToRead[i].lastIndexOf('.')+1)] = msg.payload[i].value;\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":790,"y":360,"wires":[["f2476bec.3bfc58"]]},{"id":"85e4fc97.2b8f7","type":"OPCUA-IIoT-Inject","z":"5349a82e.aa4d98","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"2","crontab":"","once":false,"startDelay":"","name":"","addressSpaceItems":[{"name":"","nodeId":"ns=4;s=GVL.stMain[2]","datatypeName":""}],"x":150,"y":400,"wires":[["6237ed3b.067a54"]]},{"id":"205b345a.b76dec","type":"OPCUA-IIoT-Inject","z":"5349a82e.aa4d98","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"0.002","crontab":"","once":false,"startDelay":"","name":"","addressSpaceItems":[{"name":"","nodeId":"ns=4;s=GVL.stMain[3]","datatypeName":""}],"x":150,"y":440,"wires":[["6237ed3b.067a54"]]},{"id":"ad356411.68c6a8","type":"OPCUA-IIoT-Inject","z":"5349a82e.aa4d98","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"2","crontab":"","once":false,"startDelay":"","name":"","addressSpaceItems":[{"name":"","nodeId":"ns=4;s=GVL.stSolarL1","datatypeName":""}],"x":150,"y":480,"wires":[["6237ed3b.067a54"]]},{"id":"7a8f15f0.47775c","type":"OPCUA-IIoT-Inject","z":"5349a82e.aa4d98","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"2","crontab":"","once":false,"startDelay":"","name":"","addressSpaceItems":[{"name":"","nodeId":"ns=4;s=GVL.fTE","datatypeName":""}],"x":150,"y":280,"wires":[["a1a9caec.85f7d8"]]},{"id":"a1a9caec.85f7d8","type":"OPCUA-IIoT-Browser","z":"5349a82e.aa4d98","connector":"44882ce0.a9d134","nodeId":"","name":"","justValue":false,"sendNodesToRead":true,"sendNodesToListener":false,"sendNodesToBrowser":false,"singleBrowseResult":false,"recursiveBrowse":false,"recursiveDepth":"","delayPerMessage":"","showStatusActivities":false,"showErrors":false,"x":320,"y":280,"wires":[["c652f63b.223608"]]},{"id":"c652f63b.223608","type":"OPCUA-IIoT-Read","z":"5349a82e.aa4d98","attributeId":"13","maxAge":1,"depth":1,"connector":"44882ce0.a9d134","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"parseStrings":false,"historyDays":"","x":490,"y":280,"wires":[["fb08c339.ec8f8"]]},{"id":"fb08c339.ec8f8","type":"OPCUA-IIoT-Response","z":"5349a82e.aa4d98","name":"","showStatusActivities":false,"showErrors":false,"x":640,"y":280,"wires":[["8d37df61.4eb2","87bb7685.5f5d58"]]},{"id":"8d37df61.4eb2","type":"function","z":"5349a82e.aa4d98","name":"","func":"var newMsg = {};\nnewMsg.payload = {};\nnewMsg.topic = \"hamk/iot/valkeakoski/kontti/\" + \nmsg.nodesToRead[0].substring(msg.nodesToRead[0].indexOf('.') +1, msg.nodesToRead[0].lastIndexOf('['));\nfor (let i = 0; i < msg.payload.length;i++) {\n    newMsg.payload[msg.nodesToRead[i].substring(msg.nodesToRead[i].lastIndexOf('.')+1)] = msg.payload[i].value;\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":790,"y":280,"wires":[["f2476bec.3bfc58","9310743e.d4e0b8"]]},{"id":"e7197d22.659b","type":"OPCUA-IIoT-Inject","z":"5349a82e.aa4d98","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"2","crontab":"","once":false,"startDelay":"","name":"","addressSpaceItems":[{"name":"","nodeId":"ns=4;s=GVL.bHV","datatypeName":""}],"x":150,"y":320,"wires":[["a1a9caec.85f7d8"]]},{"id":"d6874d79.7d2cd","type":"function","z":"6429295e.bbd048","name":"addressing","func":"let newMsg = {};\nlet quantity = msg.input.payload.quantity;\nlet address = parseInt(msg.input.payload.address,10);\nfor (var i=0; i < quantity; i++){\n    newMsg[address+i] = msg.payload[i];\n}\nmsg.payload = newMsg;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":580,"wires":[["aafde937.1c8538","1c952972.0a5c17"]]},{"id":"aafde937.1c8538","type":"debug","z":"6429295e.bbd048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":600,"wires":[]},{"id":"efbeae5.f3e585","type":"join","z":"6429295e.bbd048","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"78","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":560,"wires":[["92bfe84.eace018","54470e8c.ff414"]]},{"id":"1c952972.0a5c17","type":"split","z":"6429295e.bbd048","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":590,"y":560,"wires":[["efbeae5.f3e585"]]},{"id":"54470e8c.ff414","type":"function","z":"6429295e.bbd048","name":"mapping","func":"// var dataArr = new Int32Array(msg.payload);\n// var dataArr_u32 = new Uint32Array(msg.payload);\n// var dataArr_u64 = new Float64Array(msg.payload);\nlet data = msg.payload;\nlet newMsg = {};\nlet restBody = {};\nlet inverterData = flow.get('inverter_map');\nfor (var i = 0; i < inverterData.length; i++) {\n    let dIndex = inverterData[i].index;\n    let dFormat = inverterData[i].format;\n    let dType = inverterData[i].type;\n    let dValue = inverterData[i].value;\n\n    switch (dType) {\n        case 'S32':\n            let hex = new Int32Array(1);\n            hex[0] = (data[dIndex] << 16) + data[dIndex + 1];\n            hex[0] !== -2147483648 ? dValue = hex[0] : dValue = null;\n            break;\n        case 'U32':\n            let hex_32 = new Uint32Array(1);\n            hex_32[0] = (data[dIndex] << 16) + data[dIndex + 1];\n            hex_32[0] !== 4294967295 ? dValue = hex_32[0] : dValue = null;\n            break;\n        case 'U64':\n            let hex_64 = new Float64Array(1);\n            hex_64[0] = (data[dIndex] << 48) + (data[dIndex + 1] << 32) + (data[dIndex + 2] << 16) + data[dIndex + 3];\n            dValue = hex_64[0];\n            break;\n    }\n\n    switch (dFormat) {\n        case 'TEMP':\n        case 'FIX1':\n            dValue = dValue * 0.1;\n            break;\n        case 'FIX2':\n            dValue = dValue * 0.01;\n            break;\n        case 'FIX3':\n            dValue = dValue * 0.001;\n            break;\n        case 'Duration':\n            dValue = dValue / 3600;\n            break;\n        default:\n            break;\n    }\n    restBody[inverterData[i].id] = dValue;\n}\nnewMsg.payload = restBody;\nObject.keys(newMsg.payload).forEach((key) => (newMsg.payload[key] == null) && delete newMsg.payload[key]);\nreturn newMsg;","outputs":1,"noerr":0,"x":900,"y":580,"wires":[["a0886e77.24e6","d7bb6a1.2154798"]]},{"id":"92bfe84.eace018","type":"debug","z":"6429295e.bbd048","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":540,"wires":[]},{"id":"d7bb6a1.2154798","type":"mqtt out","z":"6429295e.bbd048","name":"","topic":"hamk/iot/valkeakoski/kontti/solar/electricity","qos":"0","retain":"","broker":"ad85372e.4bf3b8","x":1160,"y":620,"wires":[]},{"id":"f2476bec.3bfc58","type":"debug","z":"5349a82e.aa4d98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":300,"wires":[]},{"id":"744ffd92.810b54","type":"mqtt in","z":"ae9dbd54.3f25c","name":"","topic":"hamk/iot/valkeakoski/kontti/solar/solarHeat/#","qos":"0","datatype":"auto","broker":"ad85372e.4bf3b8","x":330,"y":120,"wires":[["819f2938.870398"]]},{"id":"7c26ddb5.2038d4","type":"debug","z":"ae9dbd54.3f25c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":120,"wires":[]},{"id":"95bceb21.db9e38","type":"inject","z":"ae9dbd54.3f25c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":240,"wires":[["a89f9f33.ab3d3"]]},{"id":"a89f9f33.ab3d3","type":"http request","z":"ae9dbd54.3f25c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:3333/api/v1/live-data","tls":"","proxy":"","authType":"basic","x":320,"y":240,"wires":[["7c26ddb5.2038d4"]]},{"id":"819f2938.870398","type":"json","z":"ae9dbd54.3f25c","name":"","property":"payload","action":"","pretty":false,"x":620,"y":120,"wires":[["7c26ddb5.2038d4"]]},{"id":"87bb7685.5f5d58","type":"debug","z":"5349a82e.aa4d98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":420,"wires":[]}]